@font-face {
  font-family: "iconfont"; /* Project id 2569890 */
  src: url('iconfont.woff2?t=1621926563076') format('woff2'),
       url('iconfont.woff?t=1621926563076') format('woff'),
       url('iconfont.ttf?t=1621926563076') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user1:before {
  content: "\e7ae";
}

.icon-lock:before {
  content: "\e7c9";
}

