@font-face {
  font-family: "iconfont"; /* Project id 2569890 */
  src: url('//at.alicdn.com/t/font_2569890_3m6ohi07g6q.woff2?t=1623094106892') format('woff2'),
       url('//at.alicdn.com/t/font_2569890_3m6ohi07g6q.woff?t=1623094106892') format('woff'),
       url('//at.alicdn.com/t/font_2569890_3m6ohi07g6q.ttf?t=1623094106892') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-team:before {
  font-size: 25px;
  margin-right: 20px;
  content: "\e6c0";
}

.icon-barchart:before {
  font-size: 25px;
  margin-right: 20px;
  content: "\e7af";
}

.icon-shopping:before {
  font-size: 25px;
  margin-right: 20px;
  content: "\e7cf";
}

.icon-unorderedlist:before {
  font-size: 25px;
  margin-right: 20px;
  content: "\e7f4";
}

.icon-zoom:before {
  font-size: 25px;
  margin-right: 20px;
  content: "\e748";
}

.icon-user1:before {
  content: "\e7ae";
}

.icon-lock:before {
  content: "\e7c9";
}
